KAFKA_HEAP_OPTS="{{ kafka_heap_opts }}"
KAFKA_LOG4J_OPTS="-Dlog4j2.configurationFile=/etc/kafka/log4j2.yaml"
KAFKA_OPTS="-javaagent:/usr/share/java/jmx_prometheus_javaagent.jar={{ inventory_hostname }}:{{ kafka_jmx_exporter_port }}:/etc/kafka/jmx_exporter.yml"
EXTRA_ARGS="-name kafkaServer"
