[Unit]
Description=Apache Kafka KRaft Server
Documentation=https://kafka.apache.org/documentation/
Wants=network-online.target
After=network-online.target remote-fs.target
ConditionPathExists=/etc/kafka/server.properties

[Service]
Type=simple
User=kafka
Group=kafka
EnvironmentFile=-/etc/default/kafka
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=5s
TimeoutStopSec=180
LimitNOFILE=100000
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target
