KAFKA_EXPORTER_OPTS="{% for node in kafka_broker_nodes %}--kafka.server={{ node.host }}:{{ hostvars[node.host].kafka_port | default(9092) }} {% endfor %}--kafka.version=4.0.0 --web.listen-address=:{{ kafka_exporter_port }}{% if kafka_security == 'scram' %} --sasl.enabled --sasl.username={{ kafka_monitor_principal_internal }} --sasl.password={{ kafka_monitor_password_internal }} --sasl.mechanism=scram-sha512 --tls.enabled --tls.ca-file=/etc/pki/ca.crt{% endif %}"
