# Managed by Pigsty. Contains no shell logic.
MYSQL_CLUSTER={{ mysql_cluster | quote }}
MYSQL_INSTANCE={{ mysql_instance | quote }}
MYSQL_TOPOLOGY={{ mysql_topology | quote }}
MYSQL_DATA={{ mysql_data | quote }}
MYSQL_SOCKET={{ mysql_sock | quote }}
MYSQL_BACKUP_METHOD=local
MYSQL_BACKUP_BASE={{ mysql_backup_repo.local.path | quote }}
MYSQL_BACKUP_RETENTION={{ mysql_backup_repo.local.retention | int }}
MYSQL_BACKUP_STATE_DIR={{ mysql_backup_state_dir | quote }}
MYSQL_XTRABACKUP_CNF={{ mysql_xtrabackup_config | quote }}
