# Managed by Pigsty. Readable only by root.
[client]
user={{ mysql_cluster_username }}
password="{{ mysql_cluster_password | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
host=127.0.0.1
port=6446
protocol=tcp
ssl-mode=VERIFY_CA
ssl-ca={{ mysql_tls_ca }}
