# Managed by Pigsty. Keep launch semantics independent of vendor package units.
[Service]
ExecStart=
ExecStart=/usr/bin/mysqld_exporter --config.my-cnf={{ mysql_exporter_config }} --web.listen-address=:9104 --web.telemetry-path=/metrics \
  --collect.binlog_size --collect.info_schema.innodb_metrics --collect.info_schema.processlist \
  --collect.perf_schema.eventsstatements --collect.perf_schema.eventsstatements.limit=50 \
  --collect.perf_schema.eventsstatementssum --collect.perf_schema.tableiowaits \
  --collect.perf_schema.indexiowaits \
  --collect.perf_schema.replication_group_members --collect.perf_schema.replication_group_member_stats \
  --no-collect.slave_status
