# Managed by Pigsty. Local edits will be overwritten.
[client]
user=root
password="{{ mysql_root_password | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
protocol=socket
socket={{ mysql_sock }}
ssl-mode=VERIFY_CA
ssl-ca={{ mysql_tls_ca }}
