[Unit]
Description=Pigsty MySQL daily full backup timer for {{ mysql_instance }}

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true
Unit=mysql-backup.service

[Install]
WantedBy=timers.target
